html{
    /*640设计稿：1rem=100px*/
    font-size: 100px;
}
html,body,.container{
    height: 100%;
    overflow: hidden;
}
.container{
    position: relative;
    max-width: 640px;
    margin: 0 auto;

}
.container .backgroundImg,.container .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -2;
}
.container .backgroundImg{
    background: url("../image/sz.jpg") no-repeat;
    background-size: cover;
    -webkit-filter: blur(10pex);
    filter: blur(7px);
}
.container .background{
    z-index: -1;
    background: rgba(0,0,0,.5);
}
/*HEADER*/
.header{
    padding: .3rem;
    background: rgba(0,0,0,0.2);
    position: relative;
}
.header .content{
    font-size: 0;
}
.header .content img{
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: top;
}
.header .content h2{
    display: inline-block;
    vertical-align: top;
    margin-left: .2rem;
}
.header .content h2 span{
    display: block;
    height: .6rem;
    line-height: .6rem;
    color: #FFF;
    font-size: .36rem;
}
.header .content h2 span:nth-child(2){
    font-size: .32rem;
}
.header .musicBtn{
    display: none;
    width: .6rem;
    height: .6rem;
    position: absolute;
    right: .3rem;
    top: 50%;
    margin-top: -.3rem;
    background: url("../image/music.svg") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.header .musicBtn.move{
    -webkit-animation: musicMove .7s linear infinite both;
    animation: musicMove .7s linear infinite both;
}
@-webkit-keyframes musicMove {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes musicMove {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*footer*/
.footer{
    margin: 0 .2rem;
    height: 2.2rem;
}
.footer .progress{
    height: .8rem;
    position: relative;
    overflow: hidden;
}
.footer .progress span{
    width: .9rem;
    height: 100%;
    position: absolute;
    top: 0;
    color: rgba(255,255,255,.5);
    font-size: .24rem;
    text-align: center;
}
.footer .progress span.current{
    left: 0;
}
.footer .progress span.duration{
    right: 0;
}
.footer .progress .proBg{
    position: relative;
    margin: .2rem .9rem 0 .9rem;
    height: .04rem;
    background: rgba(255,255,255,.5);
}
.footer .progress .proBg .already{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #31C27C;
    -webkit-transition: .3s;
    transition: .3s;
}
.footer .down{
    display: block;
    margin: 0 auto;
    width: 4.4rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #FFFFFF;
    font-size: .36rem;
    border-radius: .45rem;
    background: url("../image/sprite_play.png") .2rem -5.86rem no-repeat #31C27C;
    -webkit-background-size: .8rem 7rem;
    background-size: .8rem 7rem;
}
/*mian*/
.main{
    margin: .4rem .2rem;
    height: 6.56rem;
    /*需要在JS中处理：屏幕高度-header-footer-.8rem对应的px高度值*/
    overflow: hidden;
    position: relative;
}
.main .wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
}
.main .wrapper p{
    height: .84rem;
    line-height: .84rem;
    text-align: center;
    color: rgba(255,255,255,.5);
    font-size: .3rem;
    letter-spacing: .04rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main .wrapper p.select{
    color: #31C27C;
    -webkit-transition: .3s;
    transition: .3s;
}