*{
    margin: 0;
    padding: 0;
}
.show{
    height: 500px;
    border: 1px solid #000;
    margin: 15px;
}
.show_nav{
    text-align: center;
}
.show_nav input{
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    width: 400px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}
.btns{
    margin-top: 10px;
    text-align: center;
}
.btns button{
    display: inline-block;
    width: 105px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #000;
    border-radius: 5px;
}